{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col col-lg-4">
            <h1 align="center">Login Page</h1>
            <div class="row"></div>
            {% with warnings = get_flashed_messages() %}
            {% if warnings %}
            <div class="alert alert-danger">
                {{ warnings[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="NickName">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="row justify-content-sm-center">
                    <div class="col col-lg-6">
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                    </div>
                </div>
            </form>
            <a href="{{ url_for('views.signup') }}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
