{% extends "index.html" %}
{% block title %}Chat{% endblock %}
{% block body%}
<nav class="navbar navbar-dark bg-dark">
    <h1 class="text-white">Chat</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col col-lg-8">
            <ul id="messages"></ul>
            <div class="row"></div>
                <div class="input-group">
                    <input type="text" id="message_text" class="form-control" placeholder="Type your message here!"
                           aria-label="Type your message here!" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-dark" id="send_btn">Send</button>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}